:root {
  /* COLORES */
  --color-main: #004990;
  --color-main-dark: #00274D;
  --color-main-light: #D8EDFE;
  --color-main-accent: #0C57C7;
  --color-error: #FF3B3B;
  --color-error-dark: #E53535;
  --color-error-med: #FF5C5C;
  --color-error-light: #FF8080;
  --color-warning: #FFCC00;
  --color-warning-dark: #E5B800;
  --color-warning-med: #FDDD48;
  --color-warning-light: #FDED72;
  --color-info: #0063F7;
  --color-info-dark :#004FC4;
  --color-info-med: #004FC4;
  --color-info-light: #9DBFF9;
  --color-success: #06C270;
  --color-success-dark: #05A660;
  --color-success-med: #39D98A;
  --color-success-light: #57EBA1 15%;
  
  --color-grey-dark1: #3A3A3C;
  --color-grey-dark2: #6B7588;
  --color-grey-dark3: #8F90A6;
  --color-grey-dark4: #C7C9D9;
  --color-grey-light1: #DDE5E9;
  --color-grey-light2: #EBEBF0;
  --color-grey-light3: #F2F2F5;
  --color-grey-light4: #FAFAFC;

  --color-white: #FFFFFF;
  --color-black: #333333;
  --color-bg-light: #F2F6FA;

  --color-alert-text: #172B4D;
  --color-alert-blue-bg: #DEEBFF;
  --color-alert-green-bg: #E3FCEF;
  --color-alert-red-bg: #FFEBE6;
  --color-alert-yellow-bg: #FFFAE6;

  --filter-whiten: brightness(0) invert(1);
 /* #0C57C7 (--color-main-accent) */
  --filter-accent: brightness(0) invert(13%) sepia(64%) saturate(6787%) hue-rotate(211deg) brightness(100%) contrast(90%);

  /* LAYOUT */
  --nav-height: 88px;
}