@import url(colors.css);
@import url(fonts.css);
@import url(type.css);
@import url(utility.css);
@import url(variables.css);
@import url(./components/button.css);
@import url(./components/dropdown.css);
@import url(./components/fileinput.css);
@import url(./components/forms.css);
@import url(./components/datepicker.css);
@import url(./components/timepicker.css);
@import url(./components/chosen-styled.css);
@import url(./components/notification.css);
@import url(./components/sidesheet.css);
@import url(./components/sidebar.css);
@import url(./components/switch.css);
@import url(./components/tag.css);
/* @import url(./components/topnav.css); */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600');

body {
  font-family: 'Open Sans';
}

hr {
  border-top: 1px solid var(--color-n50);
}

/* Select */
.chzn-container .chzn-results li.highlighted {
  background-color: var(--color-b50) !important;
}

