:root {
  --btn-border-radius: 4px;
}

button {
  box-shadow: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.pbtn {
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: 1px solid;
  border-color: var(--btn-border-color, transparent)!important;
  border-radius: var(--btn-border-radius)!important;
  padding: 8px 16px;
  background-color: var(--btn-bg-color, var(--color-n0));
  color: var(--btn-text-color, var(--color-n800));
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.005em;
  text-shadow: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color .3s ease-in-out,
              border-color .3s ease-in-out,
              width .3s ease-in-out;
}

.pbtn:focus,
.pbtn:focus-within,
.pbtn:active {
  outline: 0;
}

.pbtn.btn-primary {
  --btn-bg-color: var(--color-b400);
  --btn-text-color: var(--color-n0);
}

.pbtn.btn-primary:hover,
.pbtn.btn-primary:focus {
  --btn-bg-color: var(--color-b500);
}

.pbtn.btn-primary:active {
  --btn-bg-color: var(--color-b600);
}

.pbtn.btn-primary.btn-disabled,
.pbtn.btn-primary:disabled {
  --btn-bg-color: var(--color-b200);
}

.pbtn.btn-secondary {
  --btn-bg-color: var(--color-n0);
  --btn-text-color: var(--color-n700);
  --btn-border-color: var(--color-n400);
}

.pbtn.btn-secondary:hover,
.pbtn.btn-secondary:active,
.pbtn.btn-secondary:focus {
  --btn-text-color: var(--color-n800);
}

.pbtn.btn-secondary.btn-icon {
  --btn-border-color: transparent;
  --btn-bg-color: transparent;
}

.pbtn.btn-secondary.btn-icon:focus {
  --btn-border-color: var(--color-b200);
}

.pbtn.btn-secondary.btn-icon:hover{
  --btn-bg-color: var(--color-n100);
  --btn-border-color: var(--color-n100);
}

.pbtn.btn-secondary.btn-icon:active{
  --btn-bg-color: var(--color-n200);
  --btn-border-color: var(--color-b200);
}

.pbtn.btn-secondary:hover {
  --btn-border-color: var(--color-n600);
}

.pbtn.btn-secondary:focus {
  --btn-border-color: var(--color-b200);
}

.pbtn.btn-secondary:active {
  --btn-bg-color: var(--color-n100);
  --btn-border-color: var(--color-n500);
}

.pbtn.btn-secondary.btn-disabled,
.pbtn.btn-secondary:disabled {
  --btn-bg-color: var(--color-n0);
  --btn-text-color: var(--color-n500);
  --btn-border-color: var(--color-n300);
}

.pbtn.btn-secondary.btn-icon.btn-disabled{
  --btn-bg-color: var(--color-n50);
  --btn-text-color: var(--color-n500);
  --btn-border-color: var(--color-n50);
}

.pbtn.btn-red {
  --btn-bg-color: var(--color-r500);
  --btn-text-color: var(--color-n0);
  --btn-border-color: var(--color-r500);
}

.pbtn.btn-red:hover {
  --btn-bg-color: var(--color-r600);
  --btn-border-color: var(--color-r600);
}

.pbtn.btn-red:active {
  --btn-bg-color: var(--color-r700);
  --btn-border-color: var(--color-r700);
}

.pbtn.btn-red:focus {
  --btn-bg-color: var(--color-r600);
  --btn-border-color: var(--color-r600);
}

.pbtn.btn-red.btn-disabled,
.pbtn.btn-red:disabled {
  --btn-bg-color: var(--color-r100);
  --btn-border-color: var(--color-r100);
}

.pbtn .material-symbols-outlined {
  font-size: 16px;
}

.pbtn:not(.btn-icon) .material-symbols-outlined {
  margin-right: 8px;
}

/* bot�n sin texto, s�lo �cono */
.pbtn.btn-icon {
  padding: 8px;
}