input.date {
  width: 160px;
}

.ui-datepicker {
  width: 319px;
  margin-top: 8px;
  border: 1px solid var(--color-n300);
  border-radius: 3px;
  padding: 16px;
  background: var(--color-n0);
  font-family: 'Open Sans';
  position: absolute;
}

/* fix datepicker div showing on page load */
.ui-datepicker:not([style]) {
  display: none;
}

.ui-datepicker table {
  width: 100%;
  table-layout: fixed;
  border-spacing: unset;
}

.ui-datepicker-header {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  margin-bottom: 24px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  width: 24px;
  height: 24px;
}

.ui-datepicker-next {
  order: 2;
}

.ui-datepicker-next span,
.ui-datepicker-prev span {
  display: none;
}

.ui-datepicker-prev::after,
.ui-datepicker-next::after {
  font-family: 'Material Icons';
  color: var(--color-n700);
  font-size: 22px;
}

.ui-datepicker-prev::after {
  content: 'chevron_left';
}

.ui-datepicker-next::after {
  content: 'chevron_right';
}

.ui-datepicker-group .ui-datepicker-title {
  margin: 0 auto;
}

.ui-datepicker-month,
.ui-datepicker-year {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--color-n800);
}

.ui-datepicker th {
  width: 41px;
  height: 16px;
  text-align: center;
  padding-bottom: 8px;
}

.ui-datepicker th span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;  
  color: var(--color-n700);
  text-transform: uppercase;
}

.ui-datepicker td {
  width: 41px !important;
  height: 32px !important;
  text-align: center !important;
  border: 2px solid transparent !important;
  border-radius: 3px !important;
  position: relative;
}

.ui-datepicker td span,
.ui-datepicker td a {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: var(--color-n800) !important;
  text-decoration: none !important;
}

.ui-datepicker .ui-state-disabled span {
  color: var(--color-n400)!important;
}

.ui-datepicker td:hover,
.ui-datepicker td.ui-datepicker-current-day {
  border-color: var(--color-b200) !important;
}

.ui-datepicker td.ui-datepicker-current-day a {
  color: var(--color-b400)!important;
  font-weight: 700!important;
  position: relative;
}

.ui-datepicker td.ui-datepicker-current-day::after {
  content: '';
  height: 2px;
  width: 33px;
  position: absolute;
  bottom: 1px;
  left: 2px;
  background: var(--color-b400);
}
