/* 
<label for="" class="checkbox-switch" role="switch">
  <input type="checkbox">
</label>
*/

/* track */
.checkbox-switch input[type=checkbox] {
  display: inline-block;
  width: 28px;
  height: 16px;
  appearance: none;
  border: none;
  border-radius: 8px;
  outline-offset: 5px;
  padding: 0;
  background: var(--color-n400);
  position: relative;
  transition: background .3s ease-in-out;
}

.checkbox-switch input[type=checkbox]:hover {
  background: var(--color-n500);
}

.checkbox-switch input[type=checkbox]:focus,
.checkbox-switch input[type=checkbox]:active {
  background: var(--color-n600);
}

.checkbox-switch input[type=checkbox]:checked {
  background: var(--color-b400);
}

.checkbox-switch input[type=checkbox]:checked:hover {
  background: var(--color-b500);
}

.checkbox-switch input[type=checkbox]:checked:focus,
.checkbox-switch input[type=checkbox]:checked:active {
  background: var(--color-b600);
}

/* thumb */
.checkbox-switch input[type=checkbox]::after {
  width: 12px;
  height: 12px;
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: var(--color-n0);
  transform: translateX(0);
  transition: transform .3s ease-in-out,
    background .3s ease-in-out;
}

.checkbox-switch input[type=checkbox]:checked::after {
  transform: translateX(100%);
}

.checkbox-switch input[type=checkbox]:checked::after {
  transform: translateX(100%);
}

.checkbox-switch input[type=checkbox][disabled]::after {
  background: var(--color-n100);
}