.table-container {
  overflow-x: scroll;
  flex-grow: 1;
  margin-top: 36px;
}

table.dataTable thead.fixed th {
  position: sticky;
  top: 0;
  z-index: 1;
}

table.dataTable {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--color-n800);
  text-align: left;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: none!important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border: none;
}

.dataTables_wrapper .dataTables_scroll {
  width: 100%;
}

table.dataTable,
table.dataTable tbody th {
  background-color: var(--color-n75);
}

table.dataTable tbody tr,
table.dataTable tbody tr td {
  background-color: var(--color-n0);
}

table.dataTable tbody tr.selected td,
table.dataTable tbody tr:hover td {
  background-color: var(--color-b50);
}

table.dataTable th {
  padding: 16px 10px!important;
}

table.dataTable th .cell-content {
  color: var(--color-n800);
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px;
  font-weight: 400;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th,
table.dataTable tbody td {
  border-bottom: 1px solid var(--color-n300);
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 0 12px;
}

table.dataTable tbody td .cell-content {
  height: 48px;
  display: flex;
  align-items: center;
}

table.dataTable tbody td .cell-content span {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

table.dataTable .btn-container {
  margin: 0;
}

table.dataTable thead .sorting {
  background-image: none;
}

table.dataTable thead .cell-content {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 20px!important;
}

table.dataTable thead .sorting .cell-content {
  background-image: url(/bukeala-static/scripts/backoffice/datatables/images/sort_both.png);
}

table.dataTable thead .sorting_asc {
  background-image: none;
}

table.dataTable thead .sorting_asc .cell-content {
  background-image: url(/bukeala-static/scripts/backoffice/datatables/images/sort_asc.png);
}

table.dataTable thead .sorting_desc {
  background-image: none;
}

table.dataTable thead .sorting_desc .cell-content {
  background-image: url(/bukeala-static/scripts/backoffice/datatables/images/sort_desc.png);
}