.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 24px;
}

.header .tools {
  display: flex;
  align-items: center;
  gap: 12px;
}

.table-container {
  overflow-x: auto;
  flex-grow: 1;
}

.dataTables_wrapper {
  font-size: 14px;
  color: var(--color-n800);
}

table.dataTable thead.fixed th {
  position: sticky;
  top: 0;
  z-index: 1;
}

table.dataTable {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--color-n800);
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: none!important;
  border-collapse: collapse!important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border: none;
}

.dataTables_wrapper .dataTables_scroll {
  width: 100%;
}

table.dataTable,
table.dataTable tbody th {
  background-color: var(--color-n75);
}

table.dataTable tbody tr,
table.dataTable tbody tr td {
  background-color: var(--color-n0);
}

table.dataTable tbody tr.selected td,
table.dataTable tbody tr:hover td {
  background-color: var(--color-b50);
}

table.dataTable th {
  padding: 16px 10px!important;
}

table.dataTable th .cell-content {
  color: var(--color-n800);
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px;
  font-weight: 400;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th,
table.dataTable tbody td {
  border-bottom: 1px solid var(--color-n300);
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 0 12px;
}

table.dataTable tbody td .cell-content {
  height: 48px;
  display: flex;
  align-items: center;
}

table.dataTable tbody td .cell-content span {
  max-width: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

table.dataTable .btn-container {
  margin: 0;
}

table.dataTable thead .sorting {
  cursor: pointer;
}

table.dataTable thead .cell-content {
  display: flex;
  align-items: center;
}

table.dataTable thead .sorting .cell-content::after {
  font-family: 'Material Icons';
  content: 'unfold_more';
  margin-left: 6px;
}

table.dataTable thead .sorting_asc .cell-content::after {
  font-family: 'Material Icons';
  content: 'expand_less'
}

table.dataTable thead .sorting_desc .cell-content::after {
  font-family: 'Material Icons';
  content: 'expand_more'
}

.dataTables_info {
  font-size: 14px;
  color: var(--color-n800);
}

.dataTables_paginate {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

#tablePagination.pagination{
  display: flex;
  justify-content: end;
  padding: 12px;
}