.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 27px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 4px 8px;
  background-color: var(--label-bg-color, var(--color-n600));
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: var(--label-text-color, var(--color-n0));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-container {
  display: inline-block;
}

.icon-container::after,
.icon-container.material-icons {
  font-family: 'Material Icons';
  color: currentColor;
  font-size: 16px;
  display: block;
  margin-top: 2px;
}

.tag:not(.removable-tag):not(.icon-tag) .icon-container {
  display: none;
}

.tag.tag-light-neutral {
  --label-bg-color: var(--color-n200);
  --label-text-color: var(--color-n600);
}

.tag.tag-dark-neutral {
  --label-bg-color: var(--color-n600);
  --label-text-color: var(--color-n0);
}

.tag.tag-dark-blue {
  --label-bg-color: var(--color-b600);
  --label-text-color: var(--color-b200);
}

.tag.tag-dark-yellow {
  --label-bg-color: var(--color-y600);
  --label-text-color: var(--color-y50);
}

.tag.tag-dark-green {
  --label-bg-color: var(--color-g600);
  --label-text-color: var(--color-g200);
}

.tag.tag-dark-red {
  --label-bg-color: var(--color-r500);
  --label-text-color: var(--color-r50);
}

.tag.tag-dark-teal {
  --label-bg-color: var(--color-t600);
  --label-text-color: var(--color-t200);
}

.tag.tag-dark-violet {
  --label-bg-color: var(--color-v600);
  --label-text-color: var(--color-v200);
}

.tag.tag-light-blue {
  --label-bg-color: var(--color-b200);
  --label-text-color: var(--color-b500);
}

.tag.tag-light-yellow {
  --label-bg-color: var(--color-y50);
  --label-text-color: var(--color-y500);
}

.tag.tag-light-green {
  --label-bg-color: var(--color-g200);
  --label-text-color: var(--color-g500);
}

.tag.tag-light-red {
  --label-bg-color: var(--color-r50);
  --label-text-color: var(--color-r500);
}

.tag.tag-light-teal {
  --label-bg-color: var(--color-t200);
  --label-text-color: var(--color-t600);
}

.tag.tag-light-violet {
  --label-bg-color: var(--color-v200);
  --label-text-color: var(--color-v600);
}

.tag.icon-tag .icon-container {
  margin-right: 4px;
}

.tag.icon-tag .icon-container::after {
  content: attr(data-icon);
}

.tag.removable-tag .icon-container {
  order: 1;
  margin-right: 0;
  margin-left: 3px;
  cursor: pointer;
}

.tag.removable-tag .icon-container::after {
  content: 'close';
}