:root {
	--top-nav-height: 72px;
}

nav {
  height: var(--nav-height);
  width: 100%;
  flex-shrink: 0;
  padding: 0 34px;
  border-bottom: 1px solid var(--color-grey-light3);
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  overflow: hidden;
}

nav #nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav a {
	text-decoration: none;
}

nav .nav-links,
nav .nav-btns {
  display: flex;
  align-items: flex-end;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: var(--top-nav-height);
	width: 100%;
	background: var(--color-n0);
	display: flex;
	padding: 0 32px;
	-webkit-font-smoothing: antialiased;
	z-index: 100;
}

.navbar::after {
	content: '';
	position: absolute;
	height: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(9, 30, 66, 0.13) 0%, rgba(9, 30, 66, 0.13) 25%, rgba(9, 30, 66, 0.08) 25.01%, rgba(9, 30, 66, 0) 100%);
}

.navbar,
.navbar li {
	display: flex;
	align-items: center;
}

.nav-links {
	gap: 24px;
}
 
.navbar ul {
	list-style: none;
}

.navbar li a {
	font-weight: normal;
	font-size: 16px;
	color: var(--color-n800);
}

.navbar li.active a,
.navbar li:hover a {
	color: var(--color-b400);
}

.navbar .menu-right {
	margin-left: auto;
	padding-left: 16px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 16px;
}

.navbar .btn-icon {
	font-size: 20px;
	white-space: nowrap;
	color: var(--color-n800);
	background-color: transparent;
}

.navbar button.btn-icon:hover {
	color: var(--color-b400);
}

@media (max-width: 1100px) {
	.navbar li a {
		font-size: 14px;
	}

	.navbar .menu-right li,
	.navbar .menu-right li button {
		width: 24px;
	}

	.navbar .menu-right li.shrink {
		flex-shrink: 0;
	}

	.navbar .btn-icon {
		font-size: 18px;
	}
}

@media (max-width: 890px) {
	.navbar .menu-right {
		gap: 8px;
	}
}