:root {
  --card-border-radius: 6px;
  --card-box-shadow: 0 4px 4px rgb(199 201 217 / 15%);

  --color-status-pending-data: var(--color-error-med);
  --color-status-pending: var(--color-success-dark);
  --color-status-admitted: var(--color-warning-dark);
  --color-status-ended: var(--color-info-light);
  --color-status-canceled: var(--color-grey-dark2);
  --color-status-not-assisted: var(--color-grey-light3);
}

.booking-card-container {
  max-width: 800px;
}

.booking-card {
  min-height: unset;
  margin: 24px 0;
  background: white;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  align-items: stretch !important;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-grey-dark1);
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.booking-card .right {
  border-top-right-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  padding: 24px 64px 16px 24px;
}

.booking-card .left {
  width: 180px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: 400;
  background-color: var(--color-b400);
  border: 1px solid transparent;
  border-top-left-radius: var(--card-border-radius);
  border-bottom-left-radius: var(--card-border-radius);
  padding: 16px;
}

.booking-card .left .status {
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 16px;
  margin-bottom: 14px;
}

.booking-card .left .full-date {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.booking-card .left p {
  line-height: 1.2;
}

.booking-card .left .date {
  font-size: 24px;
}

.booking-card .left .time {
  font-size: 34px;
  letter-spacing: -0.01em;
  white-space: nowrap;
  margin-top: -4px;
  margin-bottom: 8px;
}

.booking-card .left .plan {
  font-size: 12px;
  margin-top: 8px;
}

.booking-card button.mobile-actions-btn {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  right: 16px;
  background-color: transparent;
  border: 0;
}

.booking-card .left button.show-actions {
  display: none;
}

.booking-card .left button.show-actions::after,
.booking-card .actions button.hide-actions::after {
  font-size: 22px;
}

.booking-card .left button.show-actions::after {
  content: 'more_horiz';
  font-family: 'Material Symbols Outlined';
  color: var(--color-n0);
}

.booking-card .actions button.hide-actions {
  display: none;
}

.booking-card .actions button.hide-actions::after {
  content: 'close';
  font-family: 'Material Symbols Outlined';
  color: var(--color-b400);
}

.booking-card .right {
  width: 100%;
}

.booking-card .right .top,
.booking-card .right .bottom {
  width: 100%;
}

.booking-card .right .top {
  align-items: flex-start;
  border-bottom: 1px solid var(--color-grey-light2);
  padding-bottom: 24px;
  margin-bottom: 16px;
}

.booking-card .right .avatar {
  margin-right: 8px;
}

.booking-card .right .avatar {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  overflow: hidden;
}

.booking-card .right .avatar .icon {
  width: 100%;
  height: 100%;
  background-color: #D8EDFE;
  border-radius: 6px;
  display: grid;
  place-items: center;
}

.booking-card .right .avatar .icon i {
  font-size: 24px;
  color: var(--color-b400);
}

.booking-card .right .avatar img {
  border-radius: 50%;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.booking-card .right .name {
  font-weight: 600;
  margin-bottom: 4px;
  display: flex;
}

.booking-card .right .area {
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left center;
  font-size: 14px;
  font-weight: 400;
}

.icon {
  color: var(--color-b400);
}

.booking-card .right .area .fav-checkbox input[type=checkbox] {
  display: none;
}

.booking-card .right .area .fav-checkbox .icon {
  margin-right: 4px;
  padding-top: 1px;
  cursor: pointer;
}

.booking-card .right .area .fav-checkbox .icon i {
  font-size: 18px;
}

.booking-card .right .area .fav-checkbox input[type=checkbox]:checked+.icon .on,
.booking-card .right .area .fav-checkbox input[type=checkbox]:not(:checked)+.icon .off {
  display: block;
}

.booking-card .right .area .fav-checkbox input[type=checkbox]:checked+.icon .off,
.booking-card .right .area .fav-checkbox input[type=checkbox]:not(:checked)+.icon .on {
  display: none;
}

.booking-card .right .bottom {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 8px;
}

.booking-card .right .bottom a {
  text-decoration: none;
}

.booking-card .right .bottom .line {
  display: flex;
  align-items: flex-start;
}

.booking-card .right .bottom .line .icon-container {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.line .icon-container i {
  font-size: 18px;
  color: var(--color-b400);
  padding-top: 1px;
}

.booking-card .right .bottom .line.preparation-link {
  cursor: pointer;
  user-select: none;
  color: var(--color-b400);
}

.booking-card .line.preparation-link i::after {
  font-family: 'Material Symbols Outlined';
  content: 'visibility'
}

.booking-card .line.preparation-link.active i::after {
  content: 'visibility_off'
}

.booking-card .right .bottom .line.preparation-link.active .off,
.booking-card .right .bottom .line.preparation-link:not(.active) .on {
  display: none;
}

.booking-card .actions {
  width: 27%;
  height: 100%;
  position: absolute;
  right: 0;
  justify-content: center;
  padding: 16px 12px;
  border-left: 1px solid var(--color-grey-light2);
  border-top-right-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  background: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translateX(158px);
  transition: transform .3s ease-in-out;
}

.booking-card .actions:hover {
  transform: translateX(0);
}

.booking-card .actions .action {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: var(--card-border-radius);
  cursor: pointer;
}

.booking-card .actions .action:hover {
  background-color: var(--color-b100);
  color: var(--color-b400);
}

.booking-card .actions .action .icon-container {
  /* height: 16px; */
  display: flex;
}

.booking-card .actions .action i {
  font-size: 22px;
  vertical-align: bottom;
  color: var(--color-b400);
}

.flex-h {
  align-items: flex-start;
}

.booking-card .actions .action .action-label {
  font-size: 14px;
  white-space: nowrap;
  margin-left: 18px;
  color: var(--color-main-dark);
}

.booking-card .actions .action .icon-container {
  width: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  margin-right: 0;
}

.booking-card.pending-data .left {
  background: var(--color-status-pending-data);
}

.booking-card.pending .left {
  background: var(--color-status-pending);
}

.booking-card.admitted .left {
  background: var(--color-status-admitted);
}

.booking-card.ended .left {
  background: var(--color-status-ended);
}

.booking-card.canceled .left {
  background: var(--color-status-canceled);
}

.booking-card.not-assisted .left {
  background: var(--color-status-not-assisted);
  color: var(--color-grey-dark3);
}

.booking-card.not-assisted .left .status {
  border-color: var(--color-grey-dark3);
}

.booking-card.ended .right,
.booking-card.ended .actions .action,
.booking-card.canceled .right,
.booking-card.canceled .actions .action,
.booking-card.not-assisted .right,
.booking-card.not-assisted .actions .action {
  filter: grayscale(1) opacity(0.7);
}

.booking-card-container {
  position: relative;
}

.booking-card~.sub-card {
  display: none;
  padding: 16px 48px 16px 24px;
  list-style-position: inside;
  font-size: 14px;
  height: auto;
  width: 100%;
  margin: 0 !important;
  top: 0;
  z-index: 0;
}

.booking-card~.sub-card.visible {
  display: block;
  margin-top: 8px !important;
  height: auto;
}

.booking-card~.sub-card.preparation-card {
  font-size: 14px;
}

.booking-card~.sub-card .pcard-content {
  width: 100%;
}

.booking-card~.sub-card>.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.booking-card~.sub-card .header {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-grey-light1);
}

.booking-card~.sub-card .header p {
  color: var(--color-grey-dark1);
  font-weight: 600;
}

.booking-card~.sub-card .form {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.booking-card~.sub-card .form-field {
  width: 100%;
  display: grid;
  grid-template-columns: 220px minmax(200px, 500px);
  grid-template-rows: auto;
  grid-template-areas:
    "label input"
    ". error-msg";
  justify-content: center;
}

.booking-card~.sub-card .form-field.checkbox-field {
  margin-left: 24px;
  padding-top: 24px;
}

.booking-card~.sub-card .form-field>label {
  flex-shrink: 0;
  font-size: 14px;
  white-space: pre-line;
}

.booking-card~.sub-card .form-field.tall label {
  padding-top: 14px;
}

.booking-card~.sub-card input[type=checkbox] {
  --checkbox-size: 16px;
  justify-self: end;
}

.booking-card~.sub-card .form-field.checkbox-field>label {
  text-align: left;
}

.booking-card~.sub-card .chzn-container {
  width: 100% !important;
}

.booking-card~.sub-card .btn-container {
  margin-top: 32px;
  justify-content: flex-end;
  gap: 8px;
}

.booking-card~.sub-card .form-field.error .error-msg {
  display: inline-block;
  position: relative;
  left: unset !important;
  grid-column-start: 2;
}

.booking-card~.sub-card .form-field+.error-msg {
  left: 300px;
}

*/ .preparation-text {
  color: var(--color-grey-dark2);
}

.preparation-header {
  font-weight: 600;
  margin-bottom: 4px;
}

.preparation-text p+.preparation-header {
  margin-top: 1em;
}

.bookings-list .booking-card-container {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .booking-card-container .booking-card {
    flex-direction: column;
  }

  .booking-card-container .booking-card .left {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom-left-radius: 0;
    padding: 12px;
    line-height: initial;
  }

  .booking-card-container .booking-card .left .full-date {
    flex-direction: row;
    align-items: center;
  }

  .booking-card-container .booking-card .left .weekday,
  .booking-card-container .booking-card .left p.date,
  .booking-card-container .booking-card .left p.time {
    display: inline-block;
    font-size: 16px;
  }

  .booking-card .left .time {
    margin: 1px 0 0 0;
  }

  .booking-card-container .booking-card .left p.time::before {
    content: ' - ';
  }

  .booking-card-container .booking-card .left .status {
    width: fit-content;
    margin-bottom: 12px;
  }

  .booking-card-container .booking-card .left .plan {
    margin-top: 0;
  }

  .booking-card-container .booking-card button.mobile-actions-btn,
  .booking-card-container .booking-card .left button.show-actions,
  .booking-card-container .booking-card .actions button.hide-actions {
    display: block;
  }

  .booking-card-container .booking-card .right {
    padding: 16px 10px;
  }

  .booking-card-container .booking-card .right .top,
  .booking-card-container .booking-card .right .bottom {
    padding-left: 8px;
  }

  .booking-card-container .booking-card .right .top {
    padding-bottom: 16px;
    margin-bottom: 8px;
  }

  .booking-card-container .booking-card .right .name {
    margin-bottom: 2px;
    line-height: 18px;
  }

  .booking-card button.mobile-actions-btn {
    display: block;
  }

  .booking-card-container .booking-card .actions {
    width: 100%;
    transform: translateX(0) translateY(-100%) !important;
  }

  .booking-card-container .booking-card .actions.visible {
    transform: translateY(0) !important;
  }

  .booking-card-container .booking-card .actions .action .action-label {
    font-size: 16px;
  }

  .booking-card-container .booking-card+.layover .line,
  .booking-card-container .booking-card-container+.layover .line {
    height: 280px !important;
    top: -130px;
  }

  .booking-card-container .sub-card .form * {
    flex-shrink: 1;
  }

  .booking-card-container .sub-card .form-field {
    margin: 0;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "label"
      "input"
      "error-msg"
  }

  .booking-card-container .sub-card .form-field label {
    text-align: left !important;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
}