.codeBox{
    padding-top: 12px;
}

.codeBox .card{
    border-radius: 9px;
    border-color: #EBF0FF;
}

.codeBox .card:hover{
    box-shadow: 0px 0px 6px #EBF0FF;
}

.codeBox .card-header{
    background-color: white;
    align-content: left;
    border-bottom: none;
    border-radius: 8px !important;
}

.codeBox .card-img-top{
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 40%;
}

.codeBox .primaryButton{
    display: flex;
}

.codeBox .card-body{
    background-color: #EBF0FF !important;
    border-radius: 8px 8px 0 0 !important;
    color: #696F8C;
    font-size: 14px;
}

.codeBox .card-footer{
    border-top: none;
    padding: 0;
    border-radius: 0 0 8px 8px !important;
    background-color: #F3F6FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.codeBox .btn{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.codeBox .text-center{
    position: relative;
    justify-content: center;
}

.codeBox .text-end{
    color: var(--text-color);
    border: 0px solid transparent;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 12px;
}

.codeBox .copyBtn{
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.codeBox .card-body{
    padding: 0;
}

.accordion-flush .accordion-item{
    color: none !important;
    background-color: none !important;
    border-radius: 8px !important;
}

/* Resources */
.codeBox .card-body-resources{
    background-color: #EBF0FF !important;
    border-radius: 8px 8px 0 0 !important;
    color: #696F8C;
    font-size: 14px;
    padding: 16px;
}