footer {
    background-color: var(--default-blue);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 46px;
    display: flex;
    place-content: center;
    justify-content: center;
    margin-top: 200px;
}

.footerText{
    color: white;
    padding: 12px;
}

a.link{
    color: white;
    text-decoration:none;
    cursor: pointer;
    font-weight: 600;
}

a.link:hover{
    color: var(--light-blue);
}

