#sectionBtn{
    width: 150px;
    border: none;
    background-color: white;
    border-radius: 10px;
}

#sectionBtn:hover{
    box-shadow: 0px 0px 10px #EBF0FF;
}

#sectionBtn .card-img-top{
    background-color: var(--lightest-blue);
    height: 100px;
}

img.card-img-top{
    padding: 25px;
}

#sectionBtn .card-body{
    height: 40px;
    display: flex;
    align-items: center;
}

p.card-text{
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}


/* Colors Cards */
#colorCard{
    width: 150px;
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #EBF0FF;
}

#colorCard .card-img-top{
    background-color: var(--default-blue);
    height: 75px;
    width: 100%;
}

.card-text.color{
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    margin-left: 8px;
}

#colorCard .card-body-text{
    display: flex;
    height: auto;
    align-items: baseline;
    justify-content: space-between;
    padding: 2px;
    margin-top: 6px;
}

#colorCard .card-body-code{
    display: flex;
    height: auto;
    align-items: baseline;
    justify-content: space-between;
    padding: 2px;
}

.card-text-code{
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    margin-left: 8px;
}

.backgroundHex{
    display: flex;
    justify-content: center;
    background-color: var(--white-blue);
    width: 60px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
}


.card-text-hex{
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;

}