.panelitaLogo{
    display: block;
    margin-right: 40px;
}

/*Se activa unicamente al hacer scroll desde jquery*/
#topNav { 
  background-color: white;
  box-shadow: var(--nav-shadow); /*No se visualiza ????*/
}

#topNav .active {
  color: var(--default-blue);
}

#topNav a.nav-link{
  margin-right: 20px;
}

/*Search*/
#topNav form {
    background-color: var(--lightest-blue);
    border-radius: 0.3em;
}

#topNav .form-control:focus {
  box-shadow: none;
}

#topNav input[type=search] {
    color: var(--text-color);
    border: none;
    background-color: var(--lightest-blue);
    padding: 0.4em 0.6em;
    font-size: 14px;
}
  
#topNav input[type=search]::placeholder {
    color: var(--dark-grey);
}

#topNav span[type=submit] {
    padding: 4px;
    border: 0px solid transparent;
    background-color: transparent;
    color: var(--default-blue);
    cursor: pointer;
}

#topNav .navbar-brand{
  margin-right: 52px;
}

.navbar-toggler{
  border-color: transparent !important;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}