#topNav{
    width: 100%;
    height: 5.625em;
    font-family: 'Open Sans';
    font-size: small;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: var(--drop-shadow);
}

.panelitaLogo{
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    width: 80%;
    display: inline-flex;
    justify-content: center;
    padding-inline-start: 5% ;
    padding-inline-end: 5%;
}

a{
    margin-left: 2%;
    margin-right: 5%;
    font-style: normal;
    font-size: 14px;
    color: var(--text-color);
}

div{
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 5% ;
    padding-inline-end: 5%;
}

form {
    color: var(--text-color);
    background-color: var(--lightest-blue);
    display: flex;
    padding: 0.125em;
    border-radius: 0.313em;
  }
  
input{
    float: left;
    border-left: none;
    cursor: pointer;
}

input:focus { 
    outline: transparent; 
}

  input[type=search] {
    border: none;
    background: transparent;
    margin-left: 0.2em;
    padding: 0.438em 0.6em;
    font-size: 14px;
    color: inherit;
    border-radius: inherit;
    border: 0px solid transparent;
  }
  
  input[type=search]::placeholder {
    color: var(--text-color);
  }

  button[type=submit] {
    text-indent: -999px;
    overflow: hidden;
    width: 2.9em;
    border: 0px solid transparent;
    border-radius: inherit;
    background: transparent
    url("/content/assets/search.svg") no-repeat center;
    cursor: pointer;
  }

  @media screen and (max-width: 980px) {
    div {
        background-color: blue;
        opacity: 50%;
        display: none;
    }
  }
