.panelitaLogo{
    display: block;
    margin-right: 40px;
}

/*Se activa unicamente al hacer scroll desde jquery*/
#topNav { 
  box-shadow: var(--nav-shadow); /*No se visualiza ????*/
  border-bottom: none;
  overflow: visible;
  z-index: 97;
  transition: background-color .3s ease-in-out;
}

#topNav .navbar-nav .nav-item a.active {
  color: var(--default-blue);
}

#topNav .navbar-nav .nav-item a:hover {
  color: var(--default-blue) !important;
}

#topNav a.nav-link{
  margin-right: 20px;
  font-size: 14px;
}

/*Search*/
#topNav form {
    background-color: var(--lightest-blue);
    border-radius: 0.3em;
    display: flex;
    flex-direction: initial;
}

#topNav .form-control:focus {
  box-shadow: none;
}

#topNav input[type=search] {
    color: var(--text-color);
    border: none;
    background-color: var(--lightest-blue);
    padding: 0.4em 0.6em;
    font-size: 14px;
}
  
#topNav input[type=search]::placeholder {
    color: var(--dark-grey);
}

#topNav span[type=submit] {
    padding: 4px;
    border: 0px solid transparent;
    background-color: transparent;
    color: var(--default-blue);
    cursor: pointer;
}

#topNav .navbar-brand{
  margin-right: 52px;
}

.navbar-toggler{
  border-color: transparent !important;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

/* Dropdowns */
.dropdown-toggle::after{
  content: none !important;
}

.dropdown-menu{
  border: none !important;
  background-color: white !important;
  box-shadow: 0px 0px 20px #EEEEEE !important;
  padding: 16px !important;
 }

 .dropdown-item{
  font-size: 14px !important;
  color: var(--text-color) !important;
  padding: 8px !important;
 }

 .dropdown-item:hover{
  color: var(--default-blue) !important;
  background-color: white !important;
 }

 .dropdown-item:focus{
  color: var(--default-blue) !important;
  background-color: white !important;
 }

 .dropdown-item.active{
  color: var(--default-blue) !important;
  background-color: white !important;
 }

.dropdownItemContainer{
  display: flex;
}

.drowpdownImg{
  background-color: var(--white-blue);
  border-radius: 8px;
  display: flex;
  min-width: 32px;
  height: 32px;
  padding: 4px;
  margin-top: 4px;
  justify-content: center;
}

#navbarSupportedContent img{
max-width: 24px;
max-height: 24px;
}

