/* HTML */
@import url('/content/webComponents/css/topNav.css');
@import url('/content/webComponents/css/footer.css');
@import url('/content/webComponents/css/sideNav.css');
@import url('/content/webComponents/css/sectionBtn.css');
@import url('/content/webComponents/css/startUsing.css');
@import url('/content/webComponents/css/mainCards.css');
@import url('/content/webComponents/css/codeBox.css');
@import url('/content/webComponents/css/downloadCards.css');


/* DEP */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url(https://example.com/material-icons.woff);

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}  
  

/*Paleta de colores de web panelita*/
:root {
    --default-blue: #3366FF;
    --dark-blue: #2952CC;
    --hover-blue: #9DB5FF;
    --light-blue: #D6E0FF; /* Se usa en muy pocos casos*/
    --lightest-blue: #EBF0FF;
    --white-blue: #F3F6FF; /* Se usa en muy pocos casos*/
    --structure-color: #101840;
    --text-color: #474D66;
    --subtext-color: #696F8C;
    --dark-grey: #8F95B2;
    --medium-grey: #C1C4D6;
    --light-grey: #D8DAE5;
    --flag-green: #429777;
    --flag-red: #BF2600;
    --drop-shadow: drop-shadow(0px 0px 20px #EBF0FF);
    --nav-shadow: drop-shadow(0px 4px 20px rgb(71 77 102 10));
}

/*------------------ Paragraph styles ------------------*/
:root{
    --page-font:'Open Sans';
    --page-size: 14px;
    --page-title-weight: 600;
    --page-links-color: var(--default-blue); 
}

/*Establecemos ancho de la pagina*/
html {
    font-family: 'Open Sans';

}
body#homeBody {
    width: 100%;
    background-image: url("/content/assets/homeBackground.svg");
    background-repeat: repeat-y;
    background-position: center top;
    overflow-x: hidden;
}

div.mainLayout {
    padding-top: 100px;
}

/*Establecemos alto y padding de la pagina*/
main {
    height: 1920px;
    padding-top: 10px;
}


/*Elimina subrayados de links en general, en excepciones utilizar !important*/
a:link, a:visited, a:active {
    text-decoration:none;
}

ul{
    list-style: none;
}

/*------------------ Home ------------------*/
#homeHeader{
    margin-top: 80px;
}

#homeHeader #titleSection{
    margin-bottom: 40px;
}

#homeHeader .title{
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
}

#homeHeader .description{
    font-family: 'Open Sans';
    font-size: 18px;
    color: var(--subtext-color);
    margin-top: 40px;
    margin-bottom: 40px;
}

.sectionBtnContent{
    display: flex;
    justify-content: left;
}

.sectionBtn{
    margin-bottom: 16px;
}

.brandContent{
    margin-top: 120px;
    margin-bottom: 120px;
}

.brandContentTitle{
    color: var(--text-color);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
}

#getStartedBtn button{
    background-color: var(--default-blue) !important;
}
#getStartedBtn button:hover{
    background-color: var(--dark-blue) !important;
}

.startUsing{
    margin-top: 40px;
}

/*------------------ Sections Home ------------------*/
#sectionHeader .title{
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 12px;
}

#sectionHeader .description{
    font-family: 'Open Sans';
    font-size: 16px;
    color: var(--subtext-color);
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Search*/
#sectionHeader form {
    background-color: var(--lightest-blue);
    border-radius: 0.3em;
}

#sectionHeader .form-control:focus {
  box-shadow: none;
}

#sectionHeader input[type=search] {
    color: var(--text-color);
    border: none;
    background-color: var(--lightest-blue);
    padding: 0.4em 0.6em;
    font-size: 14px;
}
  
#sectionHeader input[type=search]::placeholder {
    color: var(--dark-grey);
}

#sectionHeader span[type=submit] {
    padding: 4px;
    border: 0px solid transparent;
    background-color: transparent;
    color: var(--default-blue);
    cursor: pointer;
}

div#imgSection{
    display: flex;
/*    background-color: #D8DAE5; */
    justify-content: center;
}

#sectionBtnContainer{
    margin-top: 40px;
}

/*------------------ Pages Body ------------------*/
#pageNav .nav-link.active{
    color: var(--default-blue);
    border-color: var(--default-blue);
    font-weight: 600;
    border-top: white;
    border-left: white;
    border-right: white;
    border-width: 2px;
}

#pageNav .nav-link{
    font-family: 'Open Sans';
    font-size: 14px;
    color: var(--text-color);
}

#pageNav .nav-link:hover{
    color: var(--default-blue);
    border-color: var(--default-blue);
    border-top: white;
    border-left: white;
    border-right: white;
    border-width: 2px;
}

#pageHeader .title{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 12px;
}

#pageHeader .description{
    font-family: 'Open Sans';
    font-size: 16px;
    color: var(--subtext-color);
    margin-top: 24px;
    margin-bottom: 40px;
}

#pageContent .pageNav{
    margin-bottom: 40px;
}
#pageContent .text{
    font-family: 'Open Sans';
    font-size: 14px;
    color: var(--subtext-color);

}

#pageContent .textLink{
    font-family: 'Open Sans';
    font-size: 14px;
}

#pageContent .textTitle{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    color: var(--subtext-color);
    margin-top: 40px;
    margin-bottom: 16px;
}

#pageContent .text li{
    margin-left: 12px;
}

#pageContent .imgContent{
    display: flex;
    justify-content: center;
    border: 2px solid var(--white-blue);
    padding: 16px;
    background: white;
    background-clip: content-box;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 32px;
}

#pageContent img{
    padding-right: 32px;
}


#pageContent .numberDotContainer{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

#pageContent .imgExplanation{
    display: grid;
    gap: 16px;
}

#pageContent .numberDot{
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--structure-color);
    border-radius: 100px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}