/* CSS */
@import url('/content/webComponents/css/topNav.css');
@import url('/content/webComponents/css/footer.css');
@import url('/content/webComponents/css/sideNav.css');
@import url('/content/webComponents/css/sectionBtn.css');
@import url('/content/webComponents/css/startUsing.css');
@import url('/content/webComponents/css/mainCards.css');
@import url('/content/webComponents/css/codeBox.css');
@import url('/content/webComponents/css/downloadCards.css');
@import url('/content/webComponents/css/usageCards.css');
/* Panelita Components*/
@import url('/content/panelitaComponents/colors.css');
@import url('/content/panelitaComponents/checkbox-radio.css');


/* DEP */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://example.com/material-icons.woff');

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}  
  

/*Paleta de colores de web panelita*/
:root {
    --default-blue: #3366FF;
    --dark-blue: #2952CC;
    --hover-blue: #9DB5FF;
    --light-blue: #D6E0FF; /* Se usa en muy pocos casos*/
    --lightest-blue: #EBF0FF;
    --white-blue: #F3F6FF; /* Se usa en muy pocos casos*/
    --structure-color: #101840;
    --text-color: #474D66;
    --subtext-color: #696F8C;
    --dark-grey: #8F95B2;
    --medium-grey: #C1C4D6;
    --light-grey: #D8DAE5;
    --flag-green: #429777;
    --flag-red: #D14343;
    --drop-shadow: drop-shadow(0px 0px 20px #EBF0FF);
    --nav-shadow: drop-shadow(0px 4px 20px rgb(71 77 102 10));
}

/*------------------ Paragraph styles ------------------*/
:root{
    --page-font:'Open Sans';
    --page-size: 16px;
    --page-title-weight: 600;
    --page-links-color: var(--default-blue); 
}

html {
    width: 100%;
}

body{
    font-family: 'Open Sans' !important;
    font-size: 14px !important;
}

body#homeBody {
    width: 100%;
    background-image: url("/content/assets/homeBackground.svg");
    background-repeat: repeat-y;
    background-position: center top;
    overflow-x: hidden;
}

div.mainLayout {
    padding-top: 100px;
}

/*Establecemos alto y padding de la pagina*/
main {
    height: 100%;
    min-height: 1080px;
    padding-top: 10px;
}


/*Elimina subrayados de links en general, en excepciones utilizar !important*/
a:link, a:visited, a:active {
    text-decoration:none;
}

ul{
    list-style: none;
}

.outside{
    list-style-type: disc;
    list-style-position: outside;

}

/* Web buttons */
#getStartedBtn{
    height: 36px !important;
    font-size: 14px !important;
}

/*------------------ Home ------------------*/
#homeHeader{
    margin-top: 80px;
}

#homeHeader #titleSection{
    margin-bottom: 40px;
}

#homeHeader .title{
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
}

#homeHeader .description{
    font-family: 'Open Sans';
    font-size: 18px;
    color: var(--subtext-color);
    margin-top: 40px;
    margin-bottom: 40px;
}

.sectionBtnContent{
    display: flex;
    justify-content: left;
}

.sectionBtn{
    margin-bottom: 16px;
}

.brandContent{
    margin-top: 120px;
    margin-bottom: 120px;
}

.brandContentTitle{
    color: var(--text-color);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
}

#getStartedBtn button{
    background-color: var(--default-blue) !important;
}
#getStartedBtn button:hover{
    background-color: var(--dark-blue) !important;
}

.startUsing{
    margin-top: 40px;
}

/*------------------ Sections Home ------------------*/
#sectionHeader .title{
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 12px;
}

#sectionHeader .description{
    font-family: 'Open Sans';
    font-size: 16px;
    color: var(--subtext-color);
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Search*/
#sectionHeader form {
    background-color: var(--lightest-blue);
    border-radius: 0.3em;
}

#sectionHeader .form-control:focus {
  box-shadow: none;
}

#sectionHeader input[type=search] {
    color: var(--text-color);
    border: none;
    background-color: var(--lightest-blue);
    padding: 0.4em 0.6em;
    font-size: 14px;
}
  
#sectionHeader input[type=search]::placeholder {
    color: var(--dark-grey);
}

#sectionHeader span[type=submit] {
    padding: 4px;
    border: 0px solid transparent;
    background-color: transparent;
    color: var(--default-blue);
    cursor: pointer;
}

div#imgSection{
    display: flex;
/*    background-color: #D8DAE5; */
    justify-content: center;
}

#sectionBtnContainer{
    margin-top: 40px;
}

/*------------------ Pages Body ------------------*/
#pageNav .nav-link.active{
    color: var(--default-blue);
    border-color: var(--default-blue);
    font-weight: 600;
    border-top: white;
    border-left: white;
    border-right: white;
    border-width: 2px;
}

#pageNav .nav-link{
    font-family: 'Open Sans';
    font-size: 14px;
    color: var(--text-color);
}

#pageNav .nav-link:hover{
    color: var(--default-blue);
    border-color: var(--default-blue);
    border-top: white;
    border-left: white;
    border-right: white;
    border-width: 2px;
}

#pageHeader .title{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 12px;
}

#pageHeader .description{
    font-family: 'Open Sans';
    font-size: 16px;
    color: var(--text-color);
    margin-top: 24px;
    margin-bottom: 40px;
}

#pageContent .pageNav{
    margin-bottom: 40px;
}

#pageContent .text{
    font-family: 'Open Sans';
    font-size: 14px;
    color: var(--subtext-color);
}

#pageContent .textLink{
    font-family: 'Open Sans';
    font-size: 14px;
}

#pageContent .textTitle{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 40px;
    margin-bottom: 16px;
}

#pageContent .text li{
    margin-left: 12px;
}

#pageContent .imgContent{
    display: flex;
    justify-content: center;
    border: 2px solid var(--white-blue);
    padding: 16px;
    background: white;
    background-clip: content-box;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 32px;
    max-width: 100%;
}

#pageContent img{
    max-height: 100%;
    max-width: 80%;
    padding-right: 32px;
    padding-left: 32px;
}

/* Number dots */
.imgExplanation{
    display: grid;
    gap: 16px;
}

.numberDotContainer{
    display: flex;
    align-items: baseline;
}

.numberDot{
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--structure-color);
    border-radius: 100px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* Typography */

#pageContent pre{
    font-family: 'Open Sans';
    font-size: 14px;
}

#pageContent .titleLine{
    display: flex;
    align-items: baseline;
    width: 100%;
}
#pageContent .textTitle{
    margin-right: 12px;
}

#pageContent .line{
    align-self: flex-end;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
}

#pageContent .textTable{
    display: flex;
}

#pageContent .left{
    vertical-align: top;
    margin-right: 10em;
}

#pageContent .right{
    vertical-align: top;
}


#pageContent .typoSamples{
    margin-top: 40px;
}

#pageContent .sample{
    font-family: 'Open Sans';
    color: var(--subtext-color);
    margin-bottom: 24px;
}

/* end typography */

/* Colors */
/* Colors Cards */
#colorCard{
    width: 150px;
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #EBF0FF;
    margin: 32px;
    padding: 0;
}

#colorCard .card-img-top{
    height: 75px;
    width: 100%;
}

#colorCard .card-img-top.blue{
    background-color: var(--color-b400);
}

#colorCard .card-img-top.neutral{
    background-color: var(--color-n800);
}

#colorCard .card-img-top.white{
    background-color: var(--color-n0);
}

#colorCard .card-img-top.green{
    background-color: var(--color-g400);
}

#colorCard .card-img-top.yellow{
    background-color: var(--color-y400);
}

#colorCard .card-img-top.red{
    background-color: var(--color-r400);
}

#colorCard .card-text.color{
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    margin-left: 8px;
}

#colorCard .card-body-text{
    display: flex;
    height: auto;
    align-items: baseline;
    justify-content: space-between;
    padding: 2px;
    margin-top: 6px;
}

#colorCard .card-body-code{
    display: flex;
    height: auto;
    align-items: baseline;
    justify-content: space-between;
    padding: 2px;
}

#colorCard .card-text-code{
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    margin-left: 8px;
}

#colorCard .backgroundHex{
    display: flex;
    justify-content: center;
    background-color: var(--color-n100);
    width: 68px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
}


#colorCard .card-text-hex{
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;

}

#colorSquares{
    height: 100%;
    margin-top: 16px;
}

#colorSquares .col{
    margin-bottom: 5%;
}

#colorSquares .colorExtendedPalette{
    display: flex;
    min-height: 80px;
    height: auto;
    width: 100%;
}

#colorSquares .colorSquare{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 4px;
}

#colorSquares .colorInfo{
    display: grid;
    justify-content: left;
    margin-left: 96px;
}

#colorSquares .card-text{
    font-weight: 600;
    margin-bottom: 0px;
}

#colorSquares .card-text-code{
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 4px;
}

#colorSquares .backgroundHex{
    display: flex;
    justify-content: center;
    background-color: var(--color-n100);
    width: 68px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
}

#colorSquares .card-text-hex{
    font-size: 14px;
    color: var(--text-color);
}

#colorSquares .colorSquare.n900{
    background-color: var(--color-n900);
}

#colorSquares .colorSquare.n800{
    background-color: var(--color-n800);
}

#colorSquares .colorSquare.n700{
    background-color: var(--color-n700);
}

#colorSquares .colorSquare.n600{
    background-color: var(--color-n600);
}

#colorSquares .colorSquare.n500{
    background-color: var(--color-n500);
}

#colorSquares .colorSquare.n400{
    background-color: var(--color-n400);
}

#colorSquares .colorSquare.n300{
    background-color: var(--color-n300);
}

#colorSquares .colorSquare.n200{
    background-color: var(--color-n200);
}

#colorSquares .colorSquare.n100{
    background-color: var(--color-n100);
}

#colorSquares .colorSquare.n75{
    background-color: var(--color-n75);
}

#colorSquares .colorSquare.n50{
    background-color: var(--color-n50);
}

#colorSquares .colorSquare.n0{
    background-color: var(--color-n0);
}

#colorSquares .colorSquare.b600{
    background-color: var(--color-b600);
}

#colorSquares .colorSquare.b500{
    background-color: var(--color-b500);
}

#colorSquares .colorSquare.b400{
    background-color: var(--color-b400);
}

#colorSquares .colorSquare.b300{
    background-color: var(--color-b300);
}

#colorSquares .colorSquare.b200{
    background-color: var(--color-b200);
}

#colorSquares .colorSquare.b100{
    background-color: var(--color-b100);
}

#colorSquares .colorSquare.b50{
    background-color: var(--color-b50);
}

#colorSquares .colorSquare.g600{
    background-color: var(--color-g600);
}

#colorSquares .colorSquare.g500{
    background-color: var(--color-g500);
}

#colorSquares .colorSquare.g400{
    background-color: var(--color-g400);
}

#colorSquares .colorSquare.g300{
    background-color: var(--color-g300);
}

#colorSquares .colorSquare.g200{
    background-color: var(--color-g200);
}

#colorSquares .colorSquare.g100{
    background-color: var(--color-g100);
}

#colorSquares .colorSquare.g50{
    background-color: var(--color-g50);
}

#colorSquares .colorSquare.y600{
    background-color: var(--color-y600);
}

#colorSquares .colorSquare.y500{
    background-color: var(--color-y500);
}

#colorSquares .colorSquare.y400{
    background-color: var(--color-y400);
}

#colorSquares .colorSquare.y300{
    background-color: var(--color-y300);
}

#colorSquares .colorSquare.y200{
    background-color: var(--color-y200);
}

#colorSquares .colorSquare.y100{
    background-color: var(--color-y100);
}

#colorSquares .colorSquare.y50{
    background-color: var(--color-y50);
}

#colorSquares .colorSquare.r600{
    background-color: var(--color-r600);
}

#colorSquares .colorSquare.r500{
    background-color: var(--color-r500);
}

#colorSquares .colorSquare.r400{
    background-color: var(--color-r400);
}

#colorSquares .colorSquare.r300{
    background-color: var(--color-r300);
}

#colorSquares .colorSquare.r200{
    background-color: var(--color-r200);
}

#colorSquares .colorSquare.r100{
    background-color: var(--color-r100);
}

#colorSquares .colorSquare.r50{
    background-color: var(--color-r50);
}

#colorSquares .colorSquare.t600{
    background-color: var(--color-t600);
}

#colorSquares .colorSquare.t500{
    background-color: var(--color-t500);
}

#colorSquares .colorSquare.t600{
    background-color: var(--color-t600);
}

#colorSquares .colorSquare.t400{
    background-color: var(--color-t400);
}

#colorSquares .colorSquare.t300{
    background-color: var(--color-t300);
}

#colorSquares .colorSquare.t200{
    background-color: var(--color-t200);
}

#colorSquares .colorSquare.t100{
    background-color: var(--color-t100);
}

#colorSquares .colorSquare.t50{
    background-color: var(--color-t50);
}

#colorSquares .colorSquare.v600{
    background-color: var(--color-v600);
}

#colorSquares .colorSquare.v500{
    background-color: var(--color-v500);
}

#colorSquares .colorSquare.v400{
    background-color: var(--color-v400);
}

#colorSquares .colorSquare.v300{
    background-color: var(--color-v300);
}

#colorSquares .colorSquare.v200{
    background-color: var(--color-v200);
}

#colorSquares .colorSquare.v100{
    background-color: var(--color-v100);
}

#colorSquares .colorSquare.v50{
    background-color: var(--color-v50);
}

/* end colors */


/* Components */

/* Buttons */
.pbtn{
    margin-right: 12px;
}

/* Checkbox */
#checkboxLoader{
    line-height: 1.15;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Radio */
#radioLoader{
    line-height: 1.15;
    display: flex;
    flex-direction: column;
    gap: 12px;
}