:root {
  --color-text-main: var(--color-n800);

  --color-disabled-bg: var(--color-n100);
  --color-disabled-border: var(--color-n300);
  --color-disabled-text: var(--color-n600);

  --form-field-v-spacing: 32px;
  --form-field-h-spacing: 24px;

  --label-width: 216px;
  --label-color: var(--color-text-main);

  --checkbox-size: 16px;

  --checkbox-border-default: var(--color-n400);
  --checkbox-border-disabled: transparent;
  --checkbox-border-checked: transparent;

  --checkbox-border-radius: 4px;

  --checkbox-bg-default: var(--color-n0);
  --checkbox-bg-checked: var(--color-b400);
  --checkbox-bg-disabled: var(--color-n100);

  /* hover */
  --checkbox-border-default-hover: var(--color-n600);

  --checkbox-bg-checked-hover: var(--color-b500);

  /* focus */
  --checkbox-border-default-focus: var(--color-n500);

  --checkbox-bg-checked-focus: var(--color-b600);

  --checkbox-check-size: calc(var(--checkbox-size) / 2);
  --checkbox-check-color-default: var(--color-n0);
  --checkbox-check-color-disabled: var(--color-n500);

  --input-height: 32px;
  --input-border-radius: 4px;
  --input-border-color: var(--color-n400);
  --input-padding: 8px;
  --input-font-size: 14px;

  --input-time-width: 158px;

  --input-bg-color: var(--color-n0);
  --input-color: var(--color-text-main);
  --input-option-selected-bg: var(--color-n300);

  --input-focus-border-color: var(--color-b300);
  --input-focus-box-shadow: 0px 0px 0px 2px var(--color-b200);

  --input-hover-color: var(--color-n700);
}

form,
.form-main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pforms{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-field {
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.form-field.vertical {
  flex-direction: column;
  align-items: flex-start;
}

.form-field.horizontal {
  flex-direction: row;
  align-items: center;
}

.form-field.horizontal.top-align {
  align-items: flex-start;
}

.form-field.horizontal.top-align > label {
  padding-top: 8px;
}

.form-field.grow {
  flex-shrink: 0;
  flex-grow: 1;
}

.form-field.tall {
  align-items: flex-start;
}

.form-field.half-width {
  width: calc(50% - var(--form-field-h-spacing));
}

.form-field-group {
  display: flex;
  flex-wrap: nowrap;
}

.form-field-group .form-field+.form-field {
  margin-left: 1em;
  margin-top: 0!important;
}

.form-field-group.vertical {
  flex-direction: column;
}

.form-field-group.vertical>.form-field {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

.multiple-form-field,
.form-field-container {
  display: flex;
  gap: var(--form-field-h-spacing);
}

.form-field-container .form-field {
  width: fit-content;
}

.form-section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-grey-dark1);
  margin-bottom: 24px;
}

.form-field > label:not(.file-input):not(.checkbox-switch) {
  max-width: var(--form-label-width);
  min-width: var(--form-label-width);
  color: var(--color-n800);
  font-weight: 400;
  text-align: right;
  white-space: nowrap;
}

.form-field:not(.vertical) > label:not(.file-input):not(.checkbox-switch) {
  margin-right: var(--form-field-h-spacing);
}

.form-field.vertical > label:not(.file-input) {
  font-size: 16px;
  max-width: 100%;
  text-align: left;
  margin-bottom: 8px;
}

.multiple-form-field .form-field + .form-field > label {
  min-width: fit-content;
  width: auto;
  margin-right: 1em;
}

.form-field .separator {
  margin: 0 8px;
}

input[type=radio],
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-shrink: 0;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: var(--checkbox-border-default);
  background-color: var(--checkbox-bg-default);
  box-shadow: none;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

input[type=radio] {
  border-radius: 50%;
}

input[type=radio]:hover,
input[type=checkbox]:hover {
  border-color: var(--checkbox-border-default-hover);
}

input[type=radio]:checked,
input[type=checkbox]:checked,
input[type=checkbox].checkbox-indeterminate:checked {
  border-color: var(--checkbox-border-checked);
  background-color: var(--checkbox-bg-checked);
}

input[type=radio]:checked::after {
  content: '';
  width: var(--checkbox-check-size);
  height: var(--checkbox-check-size);
  border-radius: 50%;
  background-color: var(--checkbox-check-color-default);
}

input[type=checkbox] {
  border-radius: var(--checkbox-border-radius);
}

input[type=checkbox]:checked::after {
  content: 'check';
  position: absolute;
  top: 1px;
  left: 1px;
  color: var(--checkbox-check-color-default);
  font-family: 'Material Symbols Outlined';
  font-size: 12px;
}

input[type=checkbox].checkbox-indeterminate:checked::after {
  content: 'minimize';
  top: -3px;
  left: 1px;
}

input[type=radio][disabled],
input[type=checkbox][disabled],
input[type=checkbox].checkbox-indeterminate[disabled] {
  border-color: var(--checkbox-border-disabled);
  background-color: var(--checkbox-bg-disabled);
  pointer-events: none;
}

input[type=checkbox][disabled]:checked::after,
input[type=checkbox].checkbox-indeterminate[disabled]:checked::after {
  color: var(--checkbox-check-color-disabled);
}

input[type=radio][disabled]:checked::after {
  background-color: var(--checkbox-check-color-disabled);
}

input[type=checkbox] + label,
input[type=radio] + label {
  margin-left: 12px;
}

input[type=text],
input[type=username],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
input.date,
input[type=time],
textarea,
.chzn-choices,
select {
  height: var(--input-height);
  width: 100%;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--input-border-color);
  padding: var(--input-padding);
  background-repeat: no-repeat;
  background-color: var(--input-bg-color);
  font-family: var(--font-family);
  font-size: var(--input-font-size);
  color: var(--color-text-main);
  text-overflow: ellipsis;
}

textarea {
  min-height: 120px;
  height: 6em;
  width: 100%;
  resize: none;
  box-sizing: border-box;
}

input[type=text].search,
input[type=search].search {
  background-image: url('/panelita/panelitaComponents/icons/search.svg');
  background-position: center left 8px;
  background-size: 16px;
  padding-left: 32px;
}

input[type="text"].date {
  width: 100%;
  flex-grow: 0;
	padding: 0 24px 0 36px;
  background-image: url('/panelita/panelitaComponents/icons/date_range.svg'),
    url('/panelita/panelitaComponents/icons/chevron_down.svg');
  background-size: 16px;
  background-position: center left 12px,
    center right 12px;
  cursor: pointer;
}

input[type="text"].date:focus-within {
  background-image: url('/panelita/panelitaComponents/icons/date_range.svg'),
  url('/panelita/panelitaComponents/icons/chevron_up.svg');
}

/* .form-field.double input {
  width: 160px!important;
} */

input[type=text]:hover,
input[type=username]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=date]:hover,
input.date:hover,
input[type=time]:hover,
textarea:hover,
.chzn-choices:hover,
select:hover {
  color: var(--input-hover-color);
}

input:focus,
textarea:focus,
button:focus{
  outline: none;
}

input:disabled{
  box-shadow: none !important;
}

input[type=text]:focus,
input[type=text]:active,
input[type=username]:focus
input[type=username]:active,
input[type=password]:focus,
input[type=password]:active,
input[type=email]:focus,
input[type=email]:active,
input[type=tel]:focus,
input[type=tel]:active,
input[type=number]:focus,
input[type=number]:active,
input[type=date]:focus,
input[type=date]:active,
input[type=time]:focus,
input[type=time]:active,
textarea:focus,
.chzn-container-active .chzn-choices,
.chzn-container-active .chzn-single,
select:focus,
select:active {
  outline: 0;
  border-color: var(--input-focus-border-color);
  box-shadow: var(--input-focus-box-shadow);
}

input[type=text].valid
textarea.valid {
  border-color: var(--color-success-dark);
}

input[disabled][type=text],
input[disabled][type=username],
input[disabled][type=password],
input[disabled][type=email],
input[disabled][type=tel],
input[disabled][type=number],
input[disabled][type=date],
input[disabled].date,
input[disabled][type=time],
textarea[disabled] {
  background-color: var(--color-disabled-bg);
  border-color: var(--color-disabled-border);
  color: var(--color-disabled-text);
}

input:placeholder-shown+.delete::before {
  display: none;
}

input.error[type=text],
input[type=text]:invalid,
input.error[type=username],
input[type=username]:invalid,
input.error[type=password],
input[type=password]:invalid,
input.error[type=email],
input[type=email]:invalid,
input.error[type=tel],
input[type=tel]:invalid,
input.error[type=number],
input[type=number]:invalid,
input.error[type=date],
input[type=date]:invalid,
input.error.date,
input.date:invalid,
input.error[type=time],
input[type=time]:invalid,
textarea.error,
textarea:invalid,
.form-field.error input:not(.optional):not([type=radio]):not([type=checkbox]),
.form-field.error textarea,
.form-field.error .file-input .filename-container {
  border-color: var(--color-error);
}

.form-field.error .file-input .btn {
  --btn-border-color: var(--color-error);
}

.form-field.error input[type=text]:not(.chzn-search input),
.form-field.error .chzn-single,
.form-field.error .chzn-container-multi .chzn-choices {
  border-color: var(--color-error)!important;
}

.form-field.error .file-input .btn {
  color: var(--color-error);
}

.form-field:not(.vertical).error {
  margin-bottom: var(--input-height);
}

.form-field .error-msg img,
.error-customer img {
  margin-top: 1px;
  margin-right: 4px;
}

.form-field:not(.vertical) .error-msg {
  left: 160px;
}

.form-field .error-msg,
.form-field + .error-msg {
  display: none;
  color: var(--color-r600);
}

.form-field .error-msg::before {
  content: 'error_outline';
  font-weight: 600; /* Optional */
  font-size: 16px;
  font-family: 'Material Symbols Outlined';
  margin-right: 4px;
}

.form-field.error .error-msg {
  display: flex;
  visibility: visible;
  flex-basis: 100%;
  white-space: nowrap;
}

.form-field .error-msg,
.form-field + .error-msg,
.error-customer {
  visibility: hidden;
  align-items: flex-start;
  margin-top: 8px;
  color: var(--color-error);
  font-size: 12px;
}

.error-customer {
  visibility: visible;
}

.form-field + .error-msg {
  position: relative;
  top: 0;
  display: flex;
  align-items: flex-start;
}

.form-field .error-msg.visible,
.form-field + .error-msg.visible {
  visibility: visible;
}

.form-field.error .error-msg img,
.form-field + .error-msg img {
  margin-right: 4px;
}

.form-field.horizontal.error {
  flex-wrap: wrap;
}

.form-field .form-field-description {
  font-size: 14px;
  color: var(--color-n700);
  margin-bottom: 8px;
}

.input-number-container {
  position: relative;
}

.input-number-container input[type="number"] {
  width: 3em;
  outline: none;
  box-shadow: none;
  padding: 0 0 0 4px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-number-container input[type=number]::-webkit-inner-spin-button,
.input-number-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.input-number-container input[type="number"].disabled~button {
  visibility: hidden;
}

.input-number-container button {
  border: 0;
  height: 50%;
  width: 10px;
  background: transparent;
  color: var(--color-text-main);
  position: absolute;
  right: 4px;
  padding: 0;
  font-family: 'Material Symbols Outlined';
  font-size: 12px;
}

.input-number-container input[type="number"]:active~button,
input[type="number"]:focus~button {
  color: #0097cc;
}

.input-number-container button.up {
  top: 3px;
}

.input-number-container button.up::after {
  content: 'keyboard_arrow_up';
}

.input-number-container button.down {
  bottom: 1px;
}

.input-number-container button.down:after {
  content: 'keyboard_arrow_down';
}

/* Select File btn align */
.pbtn.btn-secondary.btn-sm{
  margin-right: 0 !important;
}

/* Select Multiple align*/
.search-choice{
  margin-top: 6px !important;
  margin-right: 6px !important;
  margin-left: 2px !important;
}

.btn-container{
  display: flex;
  gap: 12px;
}