footer {
    display: flex;
    background-color: var(--default-blue);
    width: 100%;
    place-content: center;
    margin-top: 200px;
    z-index: 98;
}

.footerText{
    color: white;
    padding: 12px;
}

a.link{
    color: white;
    text-decoration:none;
    cursor: pointer;
    font-weight: 600;
}

a.link:hover{
    color: var(--light-blue);
}

